<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">

</head>
<body>

	<h3>Lista de Marcas</h3>

	<table>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Detalle</th>
		</tr>
		<tr th:each="marca : ${listaMarcas}">
			<td th:text="${marca.id}"></td>
			<td th:text="${marca.nombre}"></td>
			<td><a th:href="@{'/marca/detalle/' + ${marca.id}}">Ver Detalle</a></td>
			<td><a th:href="@{'/marca/modificar/' + ${marca.id}}">Modificar</a></td>
		</tr>

	</table>
	
	<a th:href="@{marca/agregar}" >Agregar Marca</a> <br />
	<a th:href="@{/index}" >Ir a Index</a>
	
	<div th:replace="template :: footer"></div>

</body>
</html>